.paginator {
	margin-bottom: 60px;
	text-align: center;

	ul li {
		display: inline-block;
	}

	&__item {
		display: block;
		border: 2px solid $beige-dark;
		width: 50px;
		line-height: 50px;
		margin: 0 5px;
		color: $gray-dark;

		&.active {
			border-color: $red-default;
			color: $red-default;

			&:hover {
				border-color: $red-default;
				background-color: $beige-light;
				cursor: default;
			}
		}

		&:hover {
			border-color: darken($beige-dark, 30%);
			background-color: darken($beige-light, 2%);
		}
	}
}