.parthners {
	margin-bottom: 60px;
}

.parthner__item {
	margin-bottom: 60px;

	&:after {
		visibility: hidden;
		display: block;
		clear: both;
		content: " ";
		height: 0;
	}
}

.parthner__logo {
	text-align: center;
	padding: 150px 0;
}

.parthner__info {
	font-size: 16px;
	line-height: 1.5em;

	a {
		display: block;
		margin-bottom: 30px;
	}
}