.prefooter {
	background-color: rgba($gray-dark, .15);
	padding: 30px 0;
}

.prefooter__news-group {
	margin-bottom: 30px;
}

.news-group__title {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 15px;
	color: $dark;
	display: block;
	border-bottom: 2px solid $gray-dark;
	margin-bottom: 20px;
	white-space: nowrap;

	&:hover {
		color: $red-default;
		border-bottom: 2px solid $red-default;
	}
}